@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Vollkorn', serif;
    }
  }

#app {
  @apply flex flex-col min-h-screen overflow-x-hidden justify-center;
}

a, button {
  text-decoration: none;
  color: unset;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}